.match-rounds {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

.match-rounds__title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.match-rounds__title::before {
    content: "";
    position:absolute;
    bottom:0.2em;
    left:0;
    height:0.1em;
    width: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
}

.match-rounds .match-rounds__items {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding:0 0.75em;
}

.match-rounds .match-round {
    position: relative;
    width:0;
    height:8em;
    max-width:14em;
    background-color: rgba(100,100,100,0.5);
    border:2px solid black;
    margin:0.5em 0.75em;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.match-rounds .match-rounds__items-7 .match-round {
    font-size:0.7em;
}

.match-rounds .match-rounds__items-7 .match-round .match-round__winner-player {
}

.match-rounds .match-round .match-round__number {
    position:absolute;
    top:-0.5em;
    left:50%;
    margin-left:-1em;
    width:2em;
    height:2em;
    border-radius: 50%;
    background-color: rgba(64,64,64,1);
    border: 2px solid black;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.match-rounds .match-round.match-round__current-round .match-round__number {
    animation: 1s linear 0s infinite alternate round-number-animation;
}

@keyframes round-number-animation {
    from {
        box-shadow: 0 0 1em 0.4em white;
    }
    to {
        box-shadow: 0 0 2em 0.4em white;
    }
}

.match-rounds .match-round .map-preview {
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    filter: brightness(50%);
}

.match-rounds .match-round.match-round__current-round .map-preview {
    filter: brightness(100%);
}

.match-rounds .match-round__winner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.match-rounds .match-round__winner-player {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    filter:drop-shadow(0 0 0.5em goldenrod);
}

.match-rounds .match-round__winner-player .faction {
    font-size:0.5em;
    margin:0 1em 0 0;
}

.match-rounds .match-round__winner-player .faction__image {
    /*width:3em;*/
    /*height:3em;*/
}

.match-rounds .match-round__winner-name {
    font-size:1.2em;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:7em;
}

.match-rounds .match-round__victory-points {
    z-index: 2;
    font-size: 0.8em;
}
