.player-selector {
    position: relative;
    display: flex;
}

.team.team_0 .player-selector {
    order: -10;
}

.team.team_1 .player-selector {
    order: 10;
}

.player-selector__button {
    box-shadow: none;
    height:2em;
    width:2em;
    padding:0.1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border:0.2em solid rgba(255,255,255,0.8);
}

.player-selector__button .icon {
    background-color: white;
    mask-image: url("../../gfx/exchange.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width:1.5em;
    height:1.5em;
    display: block;
}

.player-selector .player-list {
    position:absolute;
    top:0;
    background-color: rgba(120,120,120,1);
    z-index: 100;
    border: 0.1em solid rgba(0,0,0,0.5);
    padding:0 0.5em 0 0;
    cursor: pointer;
    font-size:0.8em;
}

.team.team_0 .player-selector .player-list {
    left:0;
}

.team.team_1 .player-selector .player-list {
    right: 0;
}

