.match-lobby .team {
    width:auto;
    padding:1em;
    background-color: rgba(100,100,100,0.5);
    border:2px solid black;
    display:flex;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: 0;
    position:relative;
}

.match-lobby .team.team_0 {
    justify-content: flex-end;
}

.match-lobby .team .team__slot {
    display:flex;
    align-items: center;
    flex-flow: row nowrap;
}

.match-lobby .team.team_0 .team__slot {

}