.player-list-button {
    position: absolute;
    left:1em;
    top:1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.2em;
    z-index:2;
}

.player-list-button.player-list-button_show-list {
    background-color: rgba(255,255,255,0.5);
}

.player-list-button__button {
    background-image: url("../../gfx/multy-user.svg");
    background-color: white;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    color: aqua;
    width: 2em;
    height: 2em;
    border: 0.2em solid black;
    border-radius: 50%;
    box-shadow: none;
    z-index:2;
}

.player-list-button .player-list {
    margin:0.5em;
    font-size: 0.75em;
}