.starting-positions {
    margin: 4em 0 0.5em;
    text-transform: uppercase;
    font-size: 0.6em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.starting-positions__value {
    display: flex;
    justify-content: center;
    border: 0.2em solid black;
    background-color: white;
    border-radius: 50%;
    width:2em;
    height:2em;
    color: black;
    font-size: 1.2em;
    margin: 0 0 0 0.5em;
    font-weight: bold;
}