.team.team-assignable .player-selector {
    position:absolute;
    top:0;
    font-size: 0.5em;
    font-family: 'Oswald', sans-serif;
}

.team.team_0.team-assignable .player-selector {
    left:0;
}

.team.team_1.team-assignable .player-selector {
    right:0;
}