.login-component {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.login-component__steam-button {
    flex-grow: 0;
    background-color: #171a21;
    text-align: center;
    border: 0;
    padding: 0.6em 0.4em;
    margin: 0;
    border-radius: 1em;
    font-size: 1em;
    color: white;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    text-transform: none;
    font-weight: normal;
}

.login-component__steam-button > img {
    margin: 0.5em 0 0.5em 30px;
}

.login-component__steam-button aside {
    font-size: 0.5em;
}
