.paypal-button form {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.paypal-button input[type=image] {
    font-size:1em;
    height:1em;
    width:auto;
}

.paypal-button aside {
    font-size: 0.5em;


    margin-left:0.5em;
    font-style: italic;
}