.match-lobby {
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow:1;
    padding:4em 1.5em 0;
}

.match-lobby .match-lobby__components {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.match-lobby .match-lobby__components > * {
    margin: 0 1em;
}

.match-lobby .match-lobby__components > *:first-child {
    margin-left:0;
}

.match-lobby .match-lobby__components > *:last-child {
    margin-right:0;
}

.match-lobby .match-lobby_center-component {
    width: 20em;
    align-self: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.match-lobby__state-description {
    position:relative;
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    justify-content: center;
}

.match-lobby__state-description > * {
    position:absolute;
    bottom: 2em;
}